
.poster-section{
    padding: 50px;
    text-align: center;
    position: relative;
}

.poster-section .poster-title {
    font-style: normal;
    font-weight: 600;
    line-height: 123%;
    margin: 0 20px;
}

.poster-text .poster-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

}

.poster-section .poster-text {
    padding-top: 50px;
    padding-left: 6px;
    padding-right: 6px;
}

.poster-section .poster-image{
    max-width: 520px;
    margin: auto;
}
.poster-social-icons{
  display: none;
}


@media (min-width:768px){
      .poster-section{
        display: flex;
        flex: 1;
        flex-direction: row-reverse;
        text-align: start;
        /* padding: 70px 40px; */
        align-items: flex-start;
        margin: 0;
        
      }
      .poster-section .poster-title 
      {
        margin-right: 20px;
        padding-right: 40px;
       }
       .poster-section .poster-subtitle{
        margin:  26px 143px 10px 11px;
       }
      .poster-section .poster-image{
        text-align: center;
        padding-top: 12px;
        position: relative;
        margin: 0;
        
      }
      .poster-section .poster-social-icons {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 55px;
      }
      .poster-section .poster-social-icons button:not(:last-child){
        margin-bottom: 8px;
      }
      .poster-section .poster-text{
        padding-top: 0;
      
       
      }
      .poster-section .poster-image-tag {
        object-fit: contain;
        width:80%;
      }
}


@media (min-width: 1024px){
      .poster-section {
        text-align: left;
        margin: 50px 0;
        padding: 0;
      }
      .poster-section .poster-text{
        text-align: left;
        
      }
      .poster-section .poster-subtitle{
        font-family: 'Work Sans';
        margin:40px 20px;
      }
      .poster-section .poster-image{
        max-width: 700px;
        min-width: 300px;
        flex: 1;
      }

}

