.our-blog{
    text-align: center;
    
}
.blog{
    
width: 67px;
height: 24px;

font-weight: 400;
font-size: 16px;
line-height: 150.6%;


text-align: center;

color: #7B7B7B;

}
.our-blog .title{

margin: 35px 200px;
text-align: center;

}
.our-blog .container-blog{
    width: 296px;
   height: 170px;
   margin: 25px 25%;

   background: #FFFFFF;


box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.blog-div1 {
    display: flex;
    margin-left: 20px;
  
}
/* .blog-div-text1 .name{
    margin: 0 10px;

} */
.blog-div-text1 .porofession{
   
    margin: 0;
    /* padding: 17px; */
}
.our-blog .name{
    margin:  10px;
}
.blog-div-text2{
    margin: 0 20px;
}
@media (min-width:768px){
    .our-blog .BOX{
        display: flex;
    }
    .our-blog .BOX div{
        margin: 15px;
    }
.our-blog .container-blog{
    width: 400px;
   height: 220px;
}
}