

.ourwork{

    text-align: center;
}
.ourwork-title{
    margin: 20px 70px;

}
.img{
    margin: 30px;
}
@media (min-width:768px){
    .ourwork-img{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width:1024px){
  .ourwork-img div{
    margin:10px 40px
  }

}